.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* 👇 REPLACE GRADIENT WITH IMAGE */
  background-image: url("../public/hero.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: Arial, sans-serif;
}

.auth-card {
  width: 380px;
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
  text-align: center;
  color: rgb(4, 0, 17);
}

.auth-title {
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: bold;
}

.auth-input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #4f46e5;
  border: none;
  color: rgb(15, 1, 1);
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-btn:hover {
  background: #4338ca;
}

.auth-toggle {
  margin-top: 15px;
  font-size: 13px;
  color: #0b76f8;
  cursor: pointer;
}

.auth-toggle:hover {
  text-decoration: underline;
}

.auth-feedback {
  margin-top: 14px;
  font-size: 14px;
  color: #111827;
  font-family: 'Lucida Sans', sans-serif;
  background: rgba(255, 255, 255, 0.95);
  padding: 10px 14px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}
